@charset "UTF-8";
/**
 * 文本输入框
 * @author  fubangfu2015@163.com
 * @data    2020/7/18
 * --------------------------------------
 */
@import "../../../css/mixins";

/* 输入控件
------------------------------*/
@include b(input) {
  @include reset();
  display: inline-block;

  /* 单行文本 */
  @include e((text, textarea)) {
    @include reset;
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    height: $--height;
    font-size: $--font-size-sm;
    background-color: $--white;
    background-image: none;
    border: $--border;
    border-radius: $--border-radius-lg;
    @include transition(all);
    @include placeholder($--placeholder-color);

    @include pseudo((hover, focus)) {

    }
  }

  /* 多行文本 */
  @include e(textarea) {
  }

}
