@charset "UTF-8";
@import "constant";

/*
 * 清除浮动
 *------------------------*/
@mixin clearFix {
  zoom: 1;
  *zoom: 1;

  &:after, &:before {
    display: table;
    content: " ";
    height: 0;
  }

  &:after {
    clear: both;
    /*替换inline为block，因为clear:both不能应用于行内元素*/
    display: block;
    overflow: hidden;
    visibility: hidden;
  }
}


/*
 * 超出的文字内容显示省略号
 * width  多少宽度后的文字显示省略号
 * rows   多少行后的文字显示省略号
 *--------------------------*/
@mixin text-ellipsis($width:0, $rows:1) {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  @if ($width != 0) {
    width: $width;
  }
  @if ($rows > 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $rows;
    line-clamp: $rows;
  } @else {
    white-space: nowrap;
  }
}

/*
 * 定位
 *---------------------------------*/
// 顶部靠左
@mixin topLeft($top:0,$left:0) {
  top: $top;
  left: $left;
}

// 顶部居中
@mixin topCenter($top:0) {
  top: $top;
  left: 50%;
  transform: translateX(-50%);
}

// 顶部靠右
@mixin topRight($top:0,$right:0) {
  top: $top;
  right: $right;
}

// 中部靠左
@mixin middleLeft($left:0) {
  top: 50%;
  left: $left;
  transform: translateY(-50%);
}

// 中部居中
@mixin middleCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 中部靠右
@mixin middleRight($right:0) {
  top: 50%;
  right: $right;
  transform: translateY(-50%);
}

// 底部靠左
@mixin bottomLeft($bottom:0,$left:0) {
  bottom: $bottom;
  left: $left;
}

// 底部居中
@mixin bottomCenter($bottom:0) {
  bottom: $bottom;
  left: 50%;
  transform: translateX(-50%);
}

// 底部靠右
@mixin bottomRight($bottom:0,$right:0) {
  bottom: $bottom;
  right: $right;
}


/*
 * 样式过渡
 *---------------------------------*/
@mixin transition($duration:.3s,$timingFn:$bezier-ease-in-out,$style...) {
  @if length($style) > 0 {
    $lists: ();
    @each $c in $style {
      $lists: append($lists, #{$c} $duration $timingFn, comma);
    }
    transition: $lists
  } @else {
    transition: all $duration $timingFn;
  }
}


/*
 * 使里面的元素垂直居中
 *---------------------------------*/
@mixin middle-context() {
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}


/*
 * @media
 *---------------------------------*/
@mixin media-min-375() {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin media-max-375() {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin media-min-480() {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin media-max-480() {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin media-min-667() {
  @media (min-width: 667px) {
    @content;
  }
}

@mixin media-max-667() {
  @media (max-width: 667px) {
    @content;
  }
}

@mixin media-min-767() {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin media-max-767() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin media-min-959() {
  @media (min-width: 959px) {
    @content;
  }
}

@mixin media-max-959() {
  @media (max-width: 959px) {
    @content;
  }
}

@mixin media-min-1200() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin media-max-1200() {
  @media (max-width: 1200px) {
    @content;
  }
}
