@charset "UTF-8";
/**
 * 混合类
 * @author      fubangfu2015@163.com
 * @date        2020/7/21
 * --------------------------------------------
 */
@import "src/css/constant";
@import "~@aqire/css/src/bem/bem";
@import "~@aqire/css/src/mixins";
@import "src/css/mixins/media";
@import "src/css/mixins/transition";

/*
 * reset
 *------------------------*/
@mixin reset() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $--text-color;
  font-size: $--font-size-base;
  line-height: $--line-height-base;
  list-style: none;
}
