@charset "UTF-8";
/**
 * 重置样式
 * @author      fubangfu2015@163.com
 * @date        2020/7/21
 * --------------------------------------------
 */
*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased; /*字体抗锯齿*/
  -moz-osx-font-smoothing: grayscale; /*字体抗锯齿*/
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; /*关闭iphone和安卓切换横屏自动调节字体大小*/
  -ms-text-size-adjust: 100%;
  /* 针对于ios，设置当点击一个连接或者通过javascript定义的可点击元素时出现的背景 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #fff;
}

/* 在无法通过键盘访问的元素上取消焦点轮廓。
 * 这可以防止在可能仍对指针事件作出响应的元素周围出现不需要的焦点轮廓。
 *----------------------------------------------------------------*/
[tabindex='-1']:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
}

img {
  display: inline-block;
  vertical-align: middle;
  border-style: none; // 删除 IE10- 中链接内的图像边框
}

svg:not(:root) {
  overflow: hidden; // 在IE中隐藏溢出
}

[hidden], template {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block
}


ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1em
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0
}

b, strong {
  font-weight: bolder
}

small {
  font-size: 80%;
}

hr {
  box-sizing: content-box; // 1。在Firefox中添加正确的框大小。
  height: 0;
  overflow: visible; // 2。在边缘和IE中显示溢出。
}

a, area, button, label, select, summary, textarea,
[role='button'], input:not([type='range']) {
  -ms-touch-action: manipulation;
  touch-action: manipulation
}


table {
  border-spacing: 0;
  border-collapse: collapse;
}


th {
  text-align: inherit
}

td,
th {
  padding: 0;
}


optgroup {
  font-weight: bold;
}

progress {
  vertical-align: baseline; //在Chrome、Firefox和Opera中添加正确的垂直对齐方式。
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}


p {
  /*长单词或者URL地址内部进行换行*/
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 1em;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

// 删除 IE10+ 中文本输入控件的清除按钮
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  -webkit-appearance: none;
}

[tabindex='-1']:focus {
  outline: none !important;
}


button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border-width: 0;
}


button,
[type='button'],
[type='reset'],
[type='submit'] {
  /*使元素看上去像个按钮*/
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}


input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  margin: 0;
  color: inherit;
}

button, input {
  overflow: visible;
}

input[type='radio'],
input[type='checkbox'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
  -webkit-appearance: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  line-height: inherit;
  color: inherit;
  white-space: normal
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}
