@charset "UTF-8";
/**
 * 定位
 * @author      fubangfu2015@163.com
 * @date        2020/7/21
 * --------------------------------------------
 */

// 顶部靠左
@mixin topLeft($top:0,$left:0) {
  top: $top;
  left: $left;
}

// 顶部居中
@mixin topCenter($top:0) {
  top: $top;
  left: 50%;
  transform: translateX(-50%);
}

// 顶部靠右
@mixin topRight($top:0,$right:0) {
  top: $top;
  right: $right;
}

// 中部靠左
@mixin middleLeft($left:0) {
  top: 50%;
  left: $left;
  transform: translateY(-50%);
}

// 中部居中
@mixin middleCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 中部靠右
@mixin middleRight($right:0) {
  top: 50%;
  right: $right;
  transform: translateY(-50%);
}

// 底部靠左
@mixin bottomLeft($bottom:0,$left:0) {
  bottom: $bottom;
  left: $left;
}

// 底部居中
@mixin bottomCenter($bottom:0) {
  bottom: $bottom;
  left: 50%;
  transform: translateX(-50%);
}

// 底部靠右
@mixin bottomRight($bottom:0,$right:0) {
  bottom: $bottom;
  right: $right;
}

