@charset "UTF-8";
/**
 * 样式过渡
 * @author      fubangfu2015@163.com
 * @date        2020/7/21
 * --------------------------------------------
 */
@import "../constant";

$--transition-all: all .3s $--bezier-ease-in-out !default;
$--transition-fade: opacity .3s $--bezier-ease-out-quint !default;
$--transition-fade-linear: opacity .2s linear !default;
$--transition-md-fade: transform .3s $--bezier-ease-out-quint, opacity 300ms $--bezier-ease-out-quint !default;
$--transition-border: border-color .2s $--bezier-ease-in-out !default;
$--transition-color: color .2s $--bezier-ease-in-out !default;
$--transition-size: width .2s $--bezier-ease-in-out, height .2s $--bezier-ease-in-out !default;
$--transition-svg: all .3s $--bezier-ease-in-out !default;

@mixin transition($styles,$duration:.3s,$timing:$--bezier-ease-in-out) {
  $lists: ();
  @each $c in $styles {
    $lists: append($lists, #{$c} $duration $timing, comma);
  }
  transition: $lists
}
